.about-main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  --color-black: rgb(64, 64, 64);
  --color-white: hsla(0, 0%, 100%, 100%);
  --color-purple: hsla(278, 100%, 75%, 100%);
}

.about-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: fixed;
  perspective: 250vh;
  transition: opacity 0.5s ease;
}

.about-heading {
  font-size: 5rem;
  margin: 0;
  text-align: center;
  opacity: 0.1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, -2000px);
  white-space: nowrap;
  z-index: 10;
  pointer-events: none;
}

.about-item {
  position: absolute;
  transform-origin: center center;
  transform: translate3d(-50%, -50%, -2000px);
  pointer-events: none;
}

.about-item[data-layer="3"] {
  opacity: 0.6;
  z-index: 3;
}

.about-item[data-layer="2"] {
  opacity: 0.4;
  z-index: 2;
}

.about-item[data-layer="1"] {
  opacity: 0.2;
  z-index: 1;
}

.about-item:nth-child(2) {
  left: 15vw;
  top: 21vh;
}

.about-item:nth-child(3) {
  left: 29vw;
  top: 15vh;
}

.about-item:nth-child(4) {
  left: 36vw;
  top: 3vh;
}

.about-item:nth-child(5) {
  left: 70vw;
  top: 11vh;
}

.about-item:nth-child(6) {
  left: 93vw;
  top: 28vh;
}

.about-item:nth-child(7) {
  left: 96.5vw;
  top: 68vh;
}

.about-item:nth-child(8) {
  left: 16vw;
  top: 86.5vh;
}

.about-item:nth-child(9) {
  left: 29vw;
  top: 76vh;
}

.about-item:nth-child(10) {
  left: 7.5vw;
  top: 54vh;
}

.about-item:nth-child(11) {
  left: 85vw;
  top: 94.5vh;
}

.about-item:nth-child(12) {
  left: 62vw;
  top: 89.5vh;
}

.about-item:nth-child(13) {
  left: 96vw;
  top: 5vh;
}

.about-item:nth-child(2) {
  width: 11.5vw;
}
.about-item:nth-child(3) {
  width: 9.2vw;
}
.about-item:nth-child(4) {
  width: 11.5vw;
}
.about-item:nth-child(5) {
  width: 7.6vw;
}
.about-item:nth-child(6) {
  width: 13.2vw;
}
.about-item:nth-child(7) {
  width: 4.7vw;
}
.about-item:nth-child(8) {
  width: 10.5vw;
}
.about-item:nth-child(9) {
  width: 5.9vw;
}
.about-item:nth-child(10) {
  width: 5.2vw;
}
.about-item:nth-child(11) {
  width: 15vw;
}
.about-item:nth-child(12) {
  width: 8.3vw;
}
.about-item:nth-child(13) {
  width: 6.1vw;
}

.about-item:not(.heading) {
  max-height: 300px;
  max-width: 300px;
}

.about-item img {
  width: 100%;
  height: auto;
  display: block;
}

.about-section-stick {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(64, 64, 64);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 5;
}

.about-opacity-reveal {
  font-size: 2.5rem;
  text-align: center;
  width: 80%;
  line-height: 1.4;
  padding: 2rem;
}

.about-opacity-reveal span {
  display: inline-block;
  transition: opacity 0.1s ease;
}

@media (max-width: 1440px) {
  .about-heading {
    font-size: 4.5rem;
  }

  .about-opacity-reveal {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .about-heading {
    font-size: 3.5rem;
  }

  .about-opacity-reveal {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .about-heading {
    font-size: 2.5rem;
  }

  .about-opacity-reveal {
    font-size: 1.5rem;
    width: 95%;
    padding: 1rem;
  }

  .about-item:nth-child(n) {
    width: 20vw !important;
  }
}

@media (max-width: 500px) {
  .about-heading {
    font-size: 2rem;
  }

  .about-container {
    perspective: 350vh;
  }
}
