.tc-menu-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 2rem 0;
}

.tc-menu-wrap h4 {
  font-size: 2rem;
  color: #fdc703;
  text-align: center;
  padding-top: 2rem;
}

.tc-menu-wrap h1 {
  font-size: 2.5rem;
  padding: 1rem 0 2rem 0;
  text-align: center;
}

.tc-menu-wrap span {
  color: #029e9d;
}

.tc-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  border-top: 1px solid #888888;
}

.tc-menu__item {
  flex: 1;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-bottom: 1px solid #888888;
}

.tc-menu__item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 600;
  color: #000;
  font-size: 4vh;
}

.tc-marquee {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: #888888;
  transform: translate3d(0, 101%, 0);
  transition: transform 0.6s ease-expo;
}

.tc-marquee__inner-wrap {
  height: 100%;
  width: 200%;
  display: flex;
  transform: translateX(0);
}

.tc-marquee__inner {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  width: 200%;
  will-change: transform;
  animation: tc-marquee 15s linear infinite;
}

.tc-marquee span {
  color: #fff;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 4vh;
  line-height: 1.2;
  padding: 1vh 1vw 0;
}

.tc-marquee__img {
  width: 200px;
  height: 7vh;
  margin: 2em 2vw;
  padding: 1em 0;
  border-radius: 50px;
  background-size: cover;
  background-position: 50% 50%;
}

.tc-menu__item-link:hover + .tc-marquee {
  transform: translate3d(0, 0%, 0);
}

@keyframes tc-marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

/* ------------------------------------ Responsive Style ------------------------- */
@media (max-width: 500px) {
  .tc-menu-wrap h4 {
    font-size: 1.5rem;
  }

  .tc-menu-wrap h1 {
    font-size: 2rem;
  }
}
